{include file='index/meta' /}

<title>{$title}</title>
</head>
<body>
  <nav class="breadcrumb">

    {notempty name="menustr"}
    {$menustr}
    {/notempty}


    <a class="btn btn-success btn-refresh radius r" style="line-height:1.6em;margin-top:3px" href="javascript:;" title="刷新" >
      <i class="Hui-iconfont">&#xe68f;</i></a>
  </nav>

  <div class="page-container">
    <form method="post">
      <div>
        <input type="text" class="input-text width-188"  placeholder="请输入排单编号" id="" name="sortid" value="{notempty name='parm.sortid'}{$parm['sortid']}{/notempty}">

        <input type="text" class="input-text width-188"  placeholder="请输入入单人" id="" name="remituser" value="{notempty name='parm.remituser'}{$parm['remituser']}{/notempty}">

        <input type="text" class="input-text width-188"  placeholder="请输入汇款人" id="" name="bankuser" value="{notempty name='parm.bankuser'}{$parm['bankuser']}{/notempty}">

        <input type="text" class="input-text width-188"  placeholder="请输入代理地区" id="" name="agentarea" value="{notempty name='parm.agentarea'}{$parm['agentarea']}{/notempty}">

        <input type="text" class="input-text width-188"  placeholder="请输入代理商编号或者姓名" id="" name="agentno" value="{notempty name='parm.agentno'}{$parm['agentno']}{/notempty}">

      </div>

      <div class="mt-20">
        <input type="text" onfocus="WdatePicker()" id="logmin" placeholder="报单开始时间" class="input-text width-188 Wdate"  
               name='begintime' value="{notempty name='parm.begintime'}{$parm['begintime']}{/notempty}">
        -
        <input type="text" onfocus="WdatePicker()" id="logmax"  placeholder="报单结束时间" class="input-text  width-188 Wdate"  
               name="endtime" value="{notempty name='parm.endtime'}{$parm['endtime']}{/notempty}">
        <select class="input-text width-188"  name="state">
          <option value="">请选择审核状态</option>
          {foreach name="searchstate" item="item"}
          <option value="{$key}" {eq name="key" value="$parm.state"}selected="selected"{/eq} >{$item} </option>
          {/foreach}
        </select>
        <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
      </div>
    </form>
    {notempty name="actions.PanelAction"}
    <div class="cl pd-5 bg-1 bk-gray mt-20">

      {foreach name='actions.PanelAction' item='item'}
      <span class="l ml-10"> 
        <a class="btn btn-primary radius" href="javascript:admin_role_add('{$item['permname']}','{:url($item['permurl'],array('tagrole'=>$item['id']))}')" >
          <i class="Hui-iconfont">{$item["permcss"]? $item["permcss"]:"&#xe600;"}</i>
          {$item['permname']}
        </a> </span>
      {/foreach}
    </div>
    {/notempty}
    <table class="table table-border table-bordered table-bg mt-20">
      <thead>
        <tr>
          <th scope="col" colspan="18">代理商报单列表</th>
        </tr>
        <tr class="text-c">
          <th width="20"><input type="checkbox" id="checkall"></th>
          <th width="30">代理ID</th>
          <th width="40">排单编号</th>
          <th width="50">入单人</th>
          <th width="60">推荐人</th>
          <th width="100">代理区域</th>
          <th width="50">汇款人</th>
          <th width="100">汇款时间</th>
          <th width="120">入单人身份证</th>
          <th width="80">入单人手机</th>
          <th width="50">积分平台</th>
          <th width="50">返积分ID</th>
          <th width="80">返积分手机号</th>
          <th width="50">代理商</th>
          <th width="50">汇款金额</th>
          <th width="50">报单类型</th>
          <th width="50">审核状态</th>
          <th width="80">操作</th>
        </tr>
      </thead>
      <tbody>

        {notempty name="list"}
        {foreach name='list' item='order'}
        <tr class="text-c data-item" data-img="{$order.remitimg}" id="{$order.id}" data-id="{$order.id}" data-state="{$order.state}" data-date="{$order.remittime}" sortid="{$order.sortid}">
          <td ><input name="id[]" type="checkbox" value="{$order.id}"></td>
          <td >{$order.uid}</td>
          <td >{$order.sortid}</td>
          <td >{$order.remituser}</td>
          <td >{$order.recomeuser}</td>
          <td >{$order.agentarea}</td>
          <td >{$order.bankuser}</td>
          <td >{$order.remittime}</td>
          <td >{$order.remitidcard}</td>
          <td >{$order.remittel}</td>
          <td >{notempty name="order.platform"}{$platform[$order.platform]}{/notempty}</td>
          <td>{$order.platformid}</td>
          <td >{$order.platformtel}</td>
          <td >{$order.agentname}</td>
          <td >{$order.remitaccount}</td>
          <td >{$isrecome[$order.isrecome]}</td>
          <td >{$statelist[$order.state]}</td>
          <td>

            {notempty name='actions.LineAction'}
            {foreach name='actions.LineAction' item='line'}
            <a title="{$line['permname']}" href="javascript:;" onclick="admin_role_add('{$line["permname"]}',
               '{:url($line['permurl'],["id"=>$order["id"],"tagrole"=>$line["id"]])}',800,500)" style="text-decoration:none">
               <i class="Hui-iconfont">{$line["permcss"]}</i>
            </a> 
            {/foreach}
            {/notempty}

            <a title="查看付款凭证"  onclick="lookinfo(this)" form-data="{$order.state}"   class="ml-5" style="text-decoration:none">
              <i class="Hui-iconfont">&#xe695;</i>
            </a>

            <a title="打印收据"  onclick="admin_role_add('打印收据',
                      '{:url("orders/printorder",["id"=>$order["id"]])}')"    class="ml-5" style="text-decoration:none">
               <i class="Hui-iconfont">&#xe652;</i>
            </a>
          </td>
        </tr>
        {/foreach}
        {else}
        <tr class="text-c"><td colspan="18">暂无数据</td></tr>
        {/notempty}
      </tbody>
    </table>
  </div>

  {$page}

  <div class="voucher">
    <h4>支付凭证信息</h4>
    <ul>
    </ul>
    <div class="itemcontent">
      <p class="item"><input type="text" placeholder="入账时间" class="input-text"    name="entrytime"></p>
      <p class="item"><input type="text" placeholder="报单编号" class="input-text"    name="putinsort"></p>
    </div>
    <input type="hidden" id="orderid" >
    <input type="hidden" id="state" >
    <p><button class="btn btn-success" id="btnok">同意</button>
      <button class="btn btn-primary" id="btncancel" >拒绝</button>
      <button class="btn" id="btnquxiao" >取消</button></p>
  </div>

  {include file='index/footer' /}
  <script type="text/javascript" src="__ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
  <script  type="text/javascript">
    function export_orders(){
    var confirmstr='是否确认导出所选数据?';
    var url="{:url('export')}";
    window.location.href=url;
  }
    
    
              /*管理员-角色-添加*/
              function admin_role_add(title, url, w, h){
                layer_show(title, url, w, 700);
              }

              $(".btn-refresh").click(function(){
                  location.replace(location.href)
              });
              
              /*管理员-编辑*/
              function admin_edit(title, url, id, w, h){
                 layer_show(title, url, w, h);
              }
              
              /*管理员-禁用，启用*/
              function admin_role_del(obj, id){
              var isdel = $(obj).attr("form-data");
              var entrytime = $("input[name='entrytime']").val();
              var sortid = $("input[name='putinsort']").val();
              if (isdel !== "-1"){
                if (!entrytime){
                  layer.msg("入账时间不能为空");
                  return false;
                }
              }
              var ids="";
              $("input:checked").each(function(){
                if($(this).val()){
                  temp=parseInt($(this).val());
                  if(!isNaN(temp)){
                      ids+=temp+";";
                  }
                }
              })
 
    
//              confirmstr = (isdel == 1)? "报单审核须谨慎，确认要通过吗？":"报单审核须谨慎，确认要拒绝吗？";
//              layer.confirm(confirmstr`, function (index) {
              //此处请求后台程序，下方是成功后的前台处理
              $.ajax({
              type: 'post',
                      data: "id=" + id + "&isdel=" + isdel + "&entrytime=" + entrytime + "&sortid=" + sortid+"&ids="+ids,
                      url: "{:url('admin/orders/dostate')}",
                      success: function (data) {
                        if (data.state == "ok"){
                          layer.msg(data.msg, {icon: 1, time: 1000});
                           $(":checked").each(function(){
                                $("#" + $(this).val()).remove();
                           });
                           $("#"+id).remove();
                        } else{
                          layer.msg(data.msg, {icon: 2, time: 1000});
                        }
                      },
                      error: function (XmlHttpRequest, textStatus, errorThrown) {
                        layer.msg('error!', {icon: 1, time: 1000});
                      }
              });
              //$(obj).closest("tr").remove(); //找到第一个父元素并且删除
              //layer.msg('已删除!', {icon: 1, time: 1000});
              //   });
              }

              function lookinfo(obj){
              $(".voucher").show();
              id = $(obj).parents("tr").attr("data-id");
              $(obj).parents("tr").addClass("active").siblings("tr").removeClass("active");
              state = $(obj).parents("tr").attr("data-state");
              var putintime = $(obj).parents("tr").attr("data-date");
              var sortid = $(obj).parents("tr").attr("sortid");
              if (sortid){
              $("input[name='putinsort']").val(sortid).css({color:"red"});
              }

              $("input[name='entrytime']").val(putintime);
              $("#orderid").val(id);
              $("#state").val(state);
              images = $(obj).parents("tr").attr("data-img");
              imageslist = images.split(";");
              strhtml = "";
              for (i = 0; i < imageslist.length; i++){
              img = imageslist[i];
              strhtml += "<li><img src='/" + img + "'></li>";
              }
              $(".voucher ul").html(strhtml);
              }
              
              $("input[name='entrytime']").keyup(function(e) {
              val = $(this).val();
              if (e.keyCode != 8) {
              if (val.length == 4) {
              val += "-";
              }
              var month = parseInt(val.substr(5, 2));
              if (month > 12 || month < 0){
              val = val.substr(0, 5);
              }
              if (val.length == 7) {
              val += "-";
              }
              var tempdate = new Date(val.substr(0, 4), month, 0);
              var daycount = parseInt(tempdate.getDate());
              var itemday = parseInt(val.substr(8, 2));
              if (itemday > daycount){
              val = val.substr(0, 8);
              }
              if (val.length == 10) {
              val += " ";
              }
              var itemhour = parseInt(val.substr(11, 2));
              console.log(val.substr(11, 2));
              if (itemhour > 24){
              val = val.substr(0, 11);
              }

              if (val.length == 13){
              val += ":";
              }
              var itemmin = parseInt(val.substr(14, 2));
              if (itemmin > 59){
              val = val.substr(0, 14);
              }
              if (val.length == 16){
              val += ":";
              }
              var itemsecond = parseInt(val.substr(17, 2));
              if (itemsecond > 59){
              val = val.substr(0, 17);
              }
              }
              $(this).val(val);
              });
              
              $("input[name='putinsort']").keyup(function(e){
                var sortid=$(this).val();                
                if(e.keyCode==13){
                  if(sortid){
                    $("#btnok").click();
                  }
                }
              });
              $("#btnok").click(function(){
              var id = $("#orderid").val();
              $(this).attr("form-data", 1);
              state = $("#state").val();
              if (state == "0"){
              admin_role_del(this, id);
              }
              $(".voucher").hide();
              });
              $("#btncancel").click(function(){
              var id = $("#orderid").val();
              var url = "{:url('orders/repulseorder')}?id=" + id;
              var title = "拒绝报单";
              admin_role_add(title, url, 600, 460);
              });
              $("#btnquxiao").click(function(){
              $(".voucher").hide();
              });

  </script>

</body>
</html>