{include file='index/meta' /}
</head>
<body>
<article class="page-container">
  <div class="warning">
    <p>*插单是特殊操作，请谨慎使用。</p>
    <p>*插单是在某个排单编号以后的所有报单向后移动指定数量的位置</p>
    <p>例如:排单编号是100是错的，110（包含110）以后都是正确的， 那么在 100和110之间，必须有指定数量的空单</p>
    <p>起始位置：就是第一个错误的位置，移动区间的首位。大于等于这个编号的排单都会往后移动指定的单位（上面的100）</p>
    <p>结束位置：就是第一个正确的排单号，第一个无需移动的排单号 （上面的 110）</p>
  </div>
  
  <form class="form form-horizontal" id="form-admin-add" autocomplete="off" >
     <div class="text-c mt-15">
      <label class="width-188">起始位置：</label><input type="text"  class="input-text width-188"  name="beginsortid">
      <label class="ml-30">移动步长：</label><input type="text" class="input-text width-188"   name="numsortid">
    </div>
     <div class="text-c mt-15">
      <label class="width-188">结束位置：</label><input type="text"  class="input-text width-188"  name="endsortid">
      <label class="ml-30">入单金额：</label><input type="text" class="input-text width-188"   name="remitaccount">
    </div>
     
    <div class="text-c mt-15" style="position: relative">
      <label class="width-188">&nbsp;&nbsp;&nbsp;代理商：</label>
      <input type="text"  class="input-text width-188"  name="agentname">
      <input type="hidden"  class="input-text width-188"  name="agentno"/>
       <label class="ml-30">&nbsp;&nbsp;&nbsp;入单人：</label><input type="text" class="input-text width-188"   name="bankuser">
       <div class="memberinfo" id="ordermember" >
            <ul>
            </ul>
          </div>  
    </div>
   
    <div class="text-c mt-15">
      <label class="width-188">&nbsp;&nbsp;&nbsp;汇款人：</label><input type="text"  class="input-text width-188"  name="remituser">
      <label class="ml-30">入单人电话：</label><input type="text" class="input-text width-188"   name="remittel">
    </div>
     <div class="text-c mt-15" >
       <label>入单人身份证：</label><input class="input-text" style="width: 465px" name="remitidcard"/>
     </div>
    
     <div class="text-c mt-15">
      <label class="width-188">积分平台：</label>
      <select class="input-text width-188" name="platform">
          <option value="">请选择积分平台</option>
          {foreach name="platform" item="item"}
          <option value="{$key}">{$item} </option>
          {/foreach}
      </select>
      <label class="ml-30">积分账号：</label><input type="text" class="input-text width-188"   name="platformid">
    </div>
    
      <div class="text-c mt-15">
      <label class="width-188">积分电话：</label><input type="text"  class="input-text width-188"  name="platformtel">
      <label class="ml-30">推荐人：</label><input class="input-text  width-188"  name="recomeuser"/>
    </div>
    
    <div class="text-c mt-15">
      <label class="width-188">入账时间：</label><input type="text"  class="input-text width-188"  name="entrytime">
      <label class="ml-30"> 审核状态：</label>
      <select class="input-text width-188" name="state">
          <option value="">请选择审核状态</option>
          {foreach name="statelist" item="item"}
          <option value="{$key}">{$item} </option>
          {/foreach}
      </select>
    </div>
    
   
   
      <div class="orderaction"><input class="btn btn-primary radius" type="button" onclick="submitform()" value="&nbsp;&nbsp;确定 &nbsp;&nbsp;"></div>
    </form>
</article>
  
  
{include file='index/footer' /}

  <!--请在下方写此页面业务相关的脚本-->
  <script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
  <script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
  <script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
  <script type="text/javascript">
    
    $("input[name='agentname']").keyup(function(e) {
        var agentparent=$(this).val();
        var url="{:url('member/searchmember')}";
        var parms={keyword:agentparent};
        if(e.keyCode===13&&agentparent){
          $.get(url,parms,function(data){
            var result="";
            for(var i=0;i<data.length;i++){
              var info= data[i];
              if(typeof(info)!=null||typeof(info)!="undefined"){
                result+='<li datano="'+info.agentno+'" dataname="'+info.agentname+'">'+info.agentarea+'  代理商姓名：'+info.agentname+'  联系电话：'+info.agenttel+'</li>';
              }
            }
            $(".memberinfo ul").html(result);
            $(".memberinfo").show();
          });
        }
    });
    
    $(".memberinfo").on("click","li",function(){
      var  datano = $(this).attr("datano");
      var dataname=$(this).attr("dataname");
      $("input[name='agentno']").val(datano);
      $("input[name='agentname']").val(dataname);
      $(".memberinfo").hide();
    });
    
    
           $(function () {
              $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
              });
            });
            
            function TextLen() {
              $(".textarea").Huitextarealength({
                minlength: 10,
                maxlength: 100.
              });
            }
            
            function submitform() {
              var beginsort=$("input[name='beginsortid']").val();
              if(!beginsort){
                layer.msg("起始位置不能为空",{icon:2,time:1000});
                return false;
              }
              var endsortid = $("input[name='endsortid']").val();
             
              if(!endsortid){
                var str="结束位置为空，系统将会在派单号是【"+beginsort+"】以后的所有数据都会往后移动，是否确定插单？";
              }else{
                beginsort = parseInt(beginsort);
                endsortid = parseInt(endsortid);
                if(endsortid<=beginsort){
                   layer.msg("结束位置不能结束位置",{icon:2,time:1000});
                   return false;
                }
                var str="系统将会在派单号是【"+beginsort+"】和【"+endsortid+"】之间插入数据，是否确定插单？";
              }
                layer.confirm(str,{icon: 3, title:'提示'},function(){
                    formdata=$("#form-admin-add").serialize();
                    $.ajax({
                      type: 'post',
                      data: formdata,
                      url: "{:url('admin/orders/insertorder')}",
                      success: function (data) {
                        if(data.state=="ok"){
                          layer.msg(data.msg, {icon: 1, time: 1000});
                          setTimeout(function(){
                          var index = parent.layer.getFrameIndex(window.name);
                          parent.$('.btn-refresh').click();
                          parent.layer.close(index);},1500);
                        }else{
                          layer.msg(data.msg, {icon: 2, time: 1000});
                        }
                      },
                      error: function (XmlHttpRequest, textStatus, errorThrown) {
                        layer.msg('error!', {icon: 1, time: 1000});
                      }
                    });
                },function(){
                  
                  
                });
              
              
            
            }


  </script> 
  <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>