{include file='index/meta' /}

<title>{$title}</title>
</head>
<body>
  <nav class="breadcrumb">

    {notempty name="menustr"}
    {$menustr}
    {/notempty}


    <a class="btn btn-success btn-refresh radius r" style="line-height:1.6em;margin-top:3px" href="javascript:;" title="刷新" >
      <i class="Hui-iconfont">&#xe68f;</i></a>
  </nav>

  <div class="page-container">
    <form method="post">
      <div class="text-c">
         <input type="text" class="input-text" style="width:250px" placeholder="请输入入单人" id="" name="remituser"
                value="{notempty name='parm.remituser'}{$parm['remituser']}{/notempty}">
        
        <input type="text" class="input-text" style="width:250px" placeholder="请输入代理商编号或者姓名" id="" name="agentno"
               value="{notempty name='parm.agentno'}{$parm['agentno']}{/notempty}">
       
        <input type="text" onfocus="WdatePicker()" id="logmin" placeholder="入账开始时间" class="input-text Wdate" 
               style="width:120px;" name='begintime' value="{notempty name='parm.begintime'}{$parm['begintime']}{/notempty}">
         -
        <input type="text" onfocus="WdatePicker()" id="logmax"  placeholder="入账结束时间"
               class="input-text Wdate" style="width:120px;" name="endtime" value="{notempty name='parm.endtime'}{$parm['endtime']}{/notempty}">
       
        <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
      </div>
    </form>
    {notempty name="actions.PanelAction"}
    <div class="cl pd-5 bg-1 bk-gray mt-20">
      {foreach name='actions.PanelAction' item='item'}
      <span class="l"> 
        <a class="btn btn-primary radius" href="javascript:admin_role_add('{$item['permname']}','{:url($item['permurl'],array('tagrole'=>$item['id']))}')" >
          <i class="Hui-iconfont">{$item["permcss"]? $item["permcss"]:"&#xe600;"}</i>
          {$item['permname']}
        </a> </span>
      {/foreach}
    </div>
    {/notempty}
    <table class="table table-border table-bordered table-bg mt-20">
      <thead>
        <tr>
          <th scope="col" colspan="14">代理商报单列表</th>
        </tr>
        <tr class="text-c">
          <th width="20">代理ID</th>
          <th width="50">入单人</th>
          <th width="60">推荐人</th>
          <th width="100">代理区域</th>
          <th width="50">汇款人</th>
           <th width="100">入账时间</th>
          <th width="120">入单人身份证</th>
          <th width="80">入单人手机</th>
          <th width="50">积分平台</th>
          <th width="50">返积分ID</th>
          <th width="80">返积分手机号</th>
         
          <th width="50">代理商</th>
          <th width="50">汇款金额</th>
          
          <th width="80">排单编号</th>
        </tr>
      </thead>
      <tbody>
        
      {notempty name="list"}
        {foreach name='list' item='order'}
        <tr class="text-c data-item" data-img="{$order.remitimg}" data-id="{$order.id}" data-state="{$order.state}">
          <td >{$order.uid}</td>
          <td >{$order.remituser}</td>
          <td >{$order.recomeuser}</td>
          <td >{$order.agentarea}</td>
          <td >{$order.bankuser}</td>
          <td ><span class="entrytime_{$order.id}">{$order.entrytime}</span></td>
          <td >{$order.remitidcard}</td>
          <td >{$order.remittel}</td>
          <td >{notempty name="$order.platform"}{$platform[$order.platform]}{/notempty}</td>
          <td>{$order.platformid}</td>
          <td >{$order.platformtel}</td>
          <td >{$order.agentname}</td>
          <td >{$order.remitaccount}</td>
          
          <td>
            <input type="text" value="{$order.sortid}" data-id="{$order.id}" class="input-text sortid" placeholder="{$sortid}" style="height: 24px;">
          </td>
        </tr>
        {/foreach}
        {else}
      <tr class="text-c"><td colspan="14">暂无数据</td></tr>
      {/notempty}
      </tbody>
    </table>
  </div>
  {$page}

  {include file='index/footer' /}
  <script type="text/javascript" src="__ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
  <script  type="text/javascript">
    $(".sortid").keyup(function(e){
      if(e.keyCode==13){
        orderid=$(this).attr("data-id");
        entrytime =$(".entrytime_"+orderid).text();
        sortid=$(this).val();
        if(!entrytime==""&&$(this).val()){
          var url="{:url('dosort')}";
          var postdata={orderid:orderid,sortid:sortid};
          $.post(url,postdata,function(data){
            layer.msg(data.msg);
            window.setTimeout(function(){
               $(".btn-refresh").click();
            },1000);
          })
        }else{
          layer.msg("入账时间或者排序编号不能为空！");
        }
      }
    });
   
    $(".btn-refresh").click(function(){
     location.replace(location.href)
    });
    
    $("table input:eq(0)").focus();

  </script>

</body>
</html>