{include file='index/meta' /}
</head>
<body>
<article class="page-container">
  <form class="form form-horizontal" id="form-admin-add" autocomplete="off" >
    <input type="hidden" name="id" value="{$info.id}">
    
   <div class="text-c mt-15" style="position: relative">
      <label class="width-188">&nbsp;&nbsp;&nbsp;代理商：</label>
      <input type="text"  class="input-text" style="width: 480px"  name="agentname" value="{$info.agentno}">
      <input type="hidden"  class="input-text width-188"  name="agentno" value="{$info.agentno}"/>
       <div class="memberinfo" id="ordermember" >
            <ul>
            </ul>
          </div> 
    </div>
    <div class="text-c mt-15">
      <label class="width-188">入单人身份证：</label>     
      <input type="text"  class="input-text" style="width:450px"  name="remitidcard" value="{$info.remitidcard}">
    </div>
    
    <div class="text-c mt-15">
      <label class="width-188">&nbsp;&nbsp;&nbsp;入单人：</label><input type="text"  class="input-text width-188" value="{$info.remituser}" name="remituser">
      <label class="ml-30">&nbsp;&nbsp;&nbsp;汇款人：</label><input type="text" class="input-text width-188" value="{$info.bankuser}"  name="bankuser">
    </div>
    
     <div class="text-c mt-15">
      <label class="width-188">积分平台：</label>
      <select class="input-text width-188" name="platform">
          <option value="">请选择积分平台</option>
          {foreach name="platform" item="item"}
          <option value="{$key}" {eq name="key" value="$info.platform"}selected="selected"{/eq} >{$item} </option>
          {/foreach}
      </select>
      <label class="ml-30">积分账号：</label><input type="text" class="input-text width-188" value="{$info.platformid}"  name="platformid">
    </div>
    
      <div class="text-c mt-15">
      <label class="width-188">积分电话：</label><input type="text"  class="input-text width-188" value="{$info.platformtel}" name="platformtel">
      <label class="ml-30">排单编号：</label><input type="text" class="input-text width-188" value="{$info.sortid}"  name="sortid">
    </div>
    
    <div class="text-c mt-15">
      <label class="width-188">入账时间：</label><input type="text"  class="input-text width-188" value="{$info.entrytime}" name="entrytime">
      <label class="ml-30"> 审核状态：</label>
      <select class="input-text width-188" name="state">
          <option value="">请选择审核状态</option>
          {foreach name="statelist" item="item"}
          <option value="{$key}" {eq name="key" value="$info.state"}selected="selected"{/eq} >{$item} </option>
          {/foreach}
      </select>
    </div>
    <div class="text-c mt-15" >
       <label>&nbsp;&nbsp; 推荐人：</label><input class="input-text width-188"  value="{$info.recomeuser}"/>
       <label class="ml-30">报单类型：</label>
      <select class="input-text width-188" name="isrecome">
          <option value="0">普通报单</option>
          {foreach name="recomelist" item="item"}
          <option value="{$key}" {eq name="key" value="$info.isrecome"}selected="selected"{/eq}>{$item} </option>
          {/foreach}
      </select>
    </div>
    
    
      
      <div class="orderaction"><input class="btn btn-primary radius" type="button" onclick="submitform()" value="&nbsp;&nbsp;确定 &nbsp;&nbsp;">
        <input class="btn btn-primary radius ml-20" type="button" onclick="copyorders()" value="&nbsp;&nbsp;复制 &nbsp;&nbsp;"></div>
    </form>
</article>
  
  
{include file='index/footer' /}

  <!--请在下方写此页面业务相关的脚本-->
  <script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
  <script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
  <script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
  <script type="text/javascript">  
            $(function () {
              $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
              });
            });
            
            function TextLen() {
              $(".textarea").Huitextarealength({
                minlength: 10,
                maxlength: 100.
              });
            }
            function submitform() {
              formdata=$("#form-admin-add").serialize();
              $.ajax({
                type: 'post',
                data: formdata,
                url: "{:url('admin/orders/updateorders')}",
                success: function (data) {
                  if(data.state=="ok"){
                    layer.msg(data.msg, {icon: 1, time: 1000});
                    setTimeout(function(){
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.$('.btn-refresh').click();
                    parent.layer.close(index);},1500);
                  }else{
                    layer.msg(data.msg, {icon: 2, time: 1000});
                  }
                },
                error: function (XmlHttpRequest, textStatus, errorThrown) {
                  layer.msg('error!', {icon: 1, time: 1000});
                }
              });
            }

      $("input[name='agentname']").keyup(function(e) {
        var agentparent=$(this).val();
        var url="{:url('member/searchmember')}";
        var parms={keyword:agentparent};
        if(e.keyCode===13&&agentparent){
          $.get(url,parms,function(data){
            var result="";
            for(var i=0;i<data.length;i++){
              var info= data[i];
              if(typeof(info)!=null||typeof(info)!="undefined"){
                result+='<li datano="'+info.agentno+'" dataname="'+info.agentname+'">'+info.agentarea+'  代理商姓名：'+info.agentname+'  联系电话：'+info.agenttel+'</li>';
              }
            }
            $(".memberinfo ul").html(result);
            $(".memberinfo").show();
          });
        }
    });
    
    
    $(".memberinfo").on("click","li",function(){
      var  datano = $(this).attr("datano");
      var dataname=$(this).attr("dataname");
      $("input[name='agentno']").val(datano);
      $("input[name='agentname']").val(dataname);
      $(".memberinfo").hide();
    });
    
    //复制报单
    function copyorders(){
      layer.confirm("是否需要复制这条数据",function(index){
        var id=$("input[name='id']").val();
        var url="{:url('orders/copyorders')}";
        var postdata={id:id};
          $.post(url,postdata,function(res){
            layer.msg(res.msg);
            layer.close(index);
            if(res.state!=="err"){
               var index1 = parent.layer.getFrameIndex(window.name);
               parent.$('.btn-refresh').click();
               window.setTimeout(function(){
                  parent.layer.close(index1);
               },1000);
            }
          });
      });
    }


  </script> 
  <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>