<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
   {notempty name="menulist"} 
    {foreach name="menulist" id="menu"}
      <dl id="menu-article">
        <dt><i class="Hui-iconfont">{$menu["permcss"]}</i> {$menu["permname"]}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
        <dd>
          <ul>
            {foreach name="menu['childs']" id='item'}
            <li><a data-href="{php}if($item['permurl'])echo url($item['permurl'],['tagrole'=>$item['id']]);else echo 'javascript:;'{/php}" 
                   data-title="{$item['permname']}" href="javascript:void(0)">{$item['permname']}</a></li>
            {/foreach}
          </ul>
        </dd>
      </dl>
    {/foreach}
   {/notempty}
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>