{include file='index/meta' /}

</head>
 
<body>
  <article class="page-container">
    <form class="form form-horizontal" id="form-admin-add">
      <input type="hidden" value="{$info['id']}" name="id">
      <input type="hidden" value="{$mid}" name="modelid">
      <div class="row cl">
        <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>字段名称：</label>
        <div class="formControls col-xs-10 col-sm-10">
          <input type="text" class="input-text" autocomplete="off" value="{$info['fieldname']}"   placeholder="字段名称" name="fieldname">
        </div>
      </div>

      <div class="row cl">
        <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>字段类型：</label>
        <div class="formControls col-xs-10 col-sm-10">
          <input type="text" class="input-text" autocomplete="off" value="{$info['fieldtype']}"   placeholder="字段类型" name="fieldtype">
        </div>
      </div>
      
      <div class="row cl">
        <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>默认值：</label>
        <div class="formControls col-xs-10 col-sm-10">
          <input type="text" class="input-text" autocomplete="off" value="{$info['fieldvalue']}"   placeholder="默认值" name="fieldvalue">
        </div>
      </div>
      
      <div class="row cl">
        <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>关联关系：</label>
        <div class="formControls col-xs-10 col-sm-10">
          <input type="text" class="input-text" autocomplete="off" value="{$info['fieldrelation']?$info['fieldrelation']:'暂无'}"   placeholder="关联关系" name="fieldrelation">
        </div>
      </div>

      <div class="row cl">
        <label class="form-label col-xs-2 col-sm-2">字段描述：</label>
        <div class="formControls col-xs-10 col-sm-10">
          <textarea name="fielddiscribe" cols="" rows="" class="textarea"  placeholder="字段描述" dragonfly="true" onKeyUp="TextLen()">{$info["fielddiscribe"]}</textarea>
          <p class="textarea-numberbar"><em class="textarea-length">{$info["fielddiscribe"]|mb_strlen=###,'utf-8'}</em>/100</p>
        </div>
      </div>

      <div class="row cl">
        <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>是否索引：</label>
        <div class="formControls col-xs-10 col-sm-10 skin-minimal">
          <div class="radio-box">
            <input type="radio" id="sex-1" name="isindex"  value="1" {$info["isindex"]==1?'checked':""}>
            <label for="sex-1">普通索引</label>
          </div>
          <div class="radio-box">
            <input type="radio" id="sex-2" name="isindex" value="2" {$info["isindex"]==2?'checked':""}>
            <label for="sex-2">否</label>
          </div>
          
          <div class="radio-box">
            <input type="radio" id="sex-2" name="isindex" value="3" {$info["isindex"]==3?'checked':""}>
            <label for="sex-2">唯一索引</label>
          </div>
        </div>
      </div>  
      
       <div class="row cl">
        <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>是否允许为空：</label>
        <div class="formControls col-xs-9 col-sm-9 skin-minimal">
          <div class="radio-box">
            <input type="radio" id="isempty-1" name="isempty"  value="1" {$info["isempty"]==1?'checked':""}>
            <label for="isempty-1">不允许</label>
          </div>
          <div class="radio-box">
            <input type="radio" id="isempty-2" name="isempty" value="2" {$info["isempty"]==2?'checked':""}>
            <label for="isempty-2">允许</label>
          </div>
        </div>
      </div> 
      
       
      <div class="row cl">
        <div class="col-xs-8 col-sm-8 col-xs-offset-4 col-sm-offset-3">
          <input class="btn btn-primary radius" type="button" onclick="submitform()" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
        </div>
      </div>
    </form>
  </article>
  {include file='index/footer' /}

  <!--请在下方写此页面业务相关的脚本-->
  <script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
  <script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
  <script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
  <script type="text/javascript">
    function submitform() {
      $.ajax({
        type: 'post',
        data: $("#form-admin-add").serialize(),
        url: "{:url('modelbuild/addfield')}",
        success: function (data) {
          layer.msg(data.msg);
          var index = parent.layer.getFrameIndex(window.name);
          if(data.state=="ok"){ 
            window.setTimeout(function(){
              parent.layer.close(index);
              parent.parent.$('.btn-refresh').click();
            },1500);
          }
        },
        error: function (XmlHttpRequest, textStatus, errorThrown) {
          layer.msg('error!', {icon: 1, time: 1000});
        }
      });
    }
  </script> 
  <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>