{include file='index/meta' /}
<title>{$title}</title>
</head>
<body>
  
  <div class="page-container">


    <div class="cl pd-5 bg-1 bk-gray">
      <span class="l"> 
        <a class="btn btn-primary radius" jumpurl="{:url('addfield',array('mid'=>$id))}" winname="添加字段" 
           jumptype="1" askmsg="" onclick="jumpcontrol(this)"  winwidth="800" winheight="700" >
          <i class="Hui-iconfont">&#xe600;</i>
          添加字段
        </a> 
      </span>
      
      <a class="btn btn-success btn-refresh radius r" style="line-height:1.6em;margin-top:3px" href="javascript:;" title="刷新" >
      <i class="Hui-iconfont">&#xe68f;</i></a>
    </div>



    <table class="table table-border table-bordered table-hover table-bg mt-10">
      <thead>
        <tr>
          <th scope="col" colspan="6">字段列表</th>
        </tr>
        <tr class="text-c">
          <th width="100">字段英文名称</th>
          <th width="150">字段说明</th>
          <th width="80">是否索引</th>
           <th width="80">是否为空</th>
          <th width="80">操作</th>
        </tr>
      </thead>
      <tbody>
        {notempty name='list'}      
        {volist name='list' id='model'}
        <tr class="text-c">       
          <td>{$model.fieldname}</td>
          <td>{$model.fielddiscribe}</td>
          <td>{$indextype[$model.isindex]}</td>
          <td>{$isempty[$model.isempty]}</td>
          <td class="f-14">
            <a title="编辑" href="javascript:;" jumpurl="{:url('addfield',array('id'=>$model['id']))}"   winname="编辑字段" 
           jumptype="1" askmsg="" onclick="jumpcontrol(this)"  winwidth="750" winheight="680"  style="text-decoration:none">
               <i class="Hui-iconfont">&#xe60c;</i>
            </a> 
            
            <a title="删除" href="javascript:;" jumpurl="{:url('delfield',array('id'=>$model['id']))}"   winname="删除字段" 
           jumptype="4" askmsg="您是否确认删除此字段？" onclick="jumpcontrol(this)"  winwidth="750" winheight="680"  style="text-decoration:none">
               <i class="Hui-iconfont">&#xe6e2;</i>
            </a>
            
          </td>
        </tr>
        {/volist}
        {/notempty}  
      </tbody>
    </table>
  </div>
  {notempty name='page'}
  {$page}
  {/notempty}
  {include file='index/footer' /}

</body>
</html>