{include file='index/meta' /}
<title>{$title}</title>
</head>
<body>
<nav class="breadcrumb">
  
  {notempty name="menustr"}
      {$menustr}
    {/notempty}

 
  <a class="btn btn-success btn-refresh radius r" style="line-height:1.6em;margin-top:3px" href="javascript:;" title="刷新" >
    <i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">

   {notempty name="actions.PanelAction"}
    <div class="cl pd-5 bg-1 bk-gray">
      {foreach name='actions.PanelAction' item='item'}
      <span class="l"> 
        <a class="btn btn-primary radius" href="javascript:admin_role_add('{$item['permname']}','{:url($item['permurl'],array('tagrole'=>$item['id']))}')" >
          <i class="Hui-iconfont">{$item["permcss"]? $item["permcss"]:"&#xe600;"}</i>
           {$item['permname']}
        </a> </span>
      {/foreach}
     </div>
		{/notempty}
