{include file='index/meta' /}
<title>{$title}</title>
</head>
<body>
  <nav class="breadcrumb">

    {notempty name="menustr"}
    {$menustr}
    {/notempty}


    <a class="btn btn-success btn-refresh radius r" style="line-height:1.6em;margin-top:3px" href="javascript:;" title="刷新" >
      <i class="Hui-iconfont">&#xe68f;</i></a>
  </nav>
  <div class="page-container">

    {notempty name="actions.PanelAction"}
    <div class="cl pd-5 bg-1 bk-gray">
      {foreach name='actions.PanelAction' item='item'}
      <span class="l"> 
        <a class="btn btn-primary radius" jumpurl="{:url($item['permurl'],array('tagrole'=>$item['id']))}" winname="{$item['permname']}" 
           jumptype="{$item['jumpway']}" askmsg="{$item['jumpask']}" onclick="jumpcontrol(this)"  winwidth="800" winheight="600" >
          <i class="Hui-iconfont">{$item["permcss"]? $item["permcss"]:"&#xe600;"}</i>
          {$item['permname']}
        </a> </span>
      {/foreach}
    </div>
    {/notempty}


    <table class="table table-border table-bordered table-hover table-bg">
      <thead>
        <tr>
          <th scope="col" colspan="6">模型列表</th>
        </tr>
        <tr class="text-c">
          <th width="40">ID</th>
          <th width="130">模型名称</th>
          <th width="130">数据库表明</th>
          <th width="550">模型描述</th>
          <th width="80">模型状态</th>
          <th >操作</th>
        </tr>
      </thead>
      <tbody>
        {notempty name='list'}      
        {volist name='list' id='model'}
        <tr class="text-c">
          <td>{$key+1}</td>
          <td>{$model.modelname}</td>

          <td>{$model.tablename}</td>
          
          <td>{$model.modeldiscribe}</td>

          <td>{$model.state?"<font color='green'>有效</font>":"<font color='red'>无效</font>"}</td>
          <td class="f-14">
            {foreach name='actions.LineAction' item='line'}
            <a title="{$line['permname']}" href="javascript:;" jumpurl="{:url($line['permurl'],array('tagrole'=>$line['id'],'id'=>$model['id']))}"   winname="{$line['permname']}" 
           jumptype="{$line['jumpway']}" askmsg="{$line['jumpask']}" onclick="jumpcontrol(this)"  winwidth="800" winheight="600"  style="text-decoration:none">
               <i class="Hui-iconfont">{$line["permcss"]}</i>
            </a> 
            {/foreach}
          </td>
        </tr>
        {/volist}
        {/notempty}  
      </tbody>
    </table>
  </div>
  {notempty name='page'}
  {$page}
  {/notempty}
  {include file='index/footer' /}

</body>
</html>