<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">     
    <meta charset="utf-8">         
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta content="yes" name="apple-mobile-web-app-capable">     
    <meta content="black" name="apple-mobile-web-app-status-bar-style">     
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="__WAP__/css/main.css" />
    <script type="text/javascript" src="__WAP__/js/rem.js" ></script>
    <title>{$webinfo["websitename"]}--{$name}</title>
    <meta name="keywords" content="{$webinfo['webkeyword']}">
    <meta name="description" content="{$webinfo['webdisciption']}">
  </head>

  <body>
    <div class="header"><i></i>{$name}<!--<span>〓</span>--></div>
    
<!--     <div class="menu">
      <ul>
         <li topage="{:url('orders/personcenter')}">个人中心</li>
        <li topage="{:url('orders/index')}">我要报单</li>
        <li topage="{:url('orders/main')}">待审核的报单</li>
        <li topage="{:url('orders/mainlist')}">已审核的报单</li>
        <li topage="{:url('orders/refuselist')}">已拒绝的报单</li>
        <li topage="{:url('orders/cars')}">直通车</li>
         <li topage="{:url('orders/baseorder')}">我的底单</li>
        <li topage="{:url('orders/baselist')}">代理底单</li>
      </ul>
    </div>-->

    <div class="orderlist">
      <div class="content">

      </div>
    </div>

 


    <script src="__JS__/jquery.min.js"></script>
    <script type="text/javascript" src="__ADMIN__/lib/layer/2.4/layer.js"></script>
    <script src="__WAP__/js/orders.js"></script>
    <script src="__WAP__/js/dropload.min.js"></script>
    <script>
        $(function () {
        // 每页展示4个
        var num = {$pageinfo.per_page};
        var total = {$pageinfo.total};
        var pageStart = 0;
        // dropload
        var dropload = $('.orderlist').dropload({
          scrollArea: window,
          loadDownFn: function (me) {
            // 加载菜单一的数据
            $.ajax({
              type: 'post',
              url: "{:url('orders/main')}?page=" + (pageStart + 1),
              dataType: 'json',
              success: function (data) {
                var result = '';
                for (var i = 0; i < data.data.length; i++) {
                  order = data.data[i];
                 sortid = (order.isshow === 0) ? "等待排单" : order.sortid;
                     sortid = (sortid==null)?"等待排单":sortid;
                  if(order.issend==0){
                    issend="未出彩";
                  }else if(order.issend==1){
                    issend="预出彩";
                  }else if(order.issend==2){
                    issend="已出彩";
                  }else{
                    issend="待确认";
                  };
                  entrytime=(order.entrytime==null)?"待确认":order.entrytime;
                  result += '<ul><li>排单编号：'+sortid+'</li><li>是否出彩：'+issend+'</li>';
                  result += '<li> 入单人：' + order.remituser + ' </li><li> 报单日期：' + order.putintime + ' </li>';
                  result += '<li> 汇款人：' + order.bankuser + ' </li>';
                  result += '<li> 入账时间：' + entrytime + ' </li>';
                  result += '<li> 入单金额：' + order.remitaccount + ' </li>';
                  result += '<li> 入单人身份证：' + order.remitidcard + '</li></ul>';
                }
                if (data.current_page == Math.ceil(total / num) || total == 0) {
                  dropload.lock();
                  dropload.noData();
                } else {
                  pageStart = parseInt(data.current_page);
                  dropload.unlock();
                  dropload.noData(false);
                }
                $('.orderlist>.content').append(result);
                
             
                dropload.resetload();
              }
            });
          }
        });

      });
    </script>
  </body>
</html>