<!DOCTYPE html>
<html>
  <head>
    {include file='index/header' /}
    <link rel="stylesheet" href="__WAP__/css/main.css" />
    <script type="text/javascript" src="__WAP__/js/rem.js" ></script>
  </head>

  <body>
    <div class="header"><i></i>{$name}</div>
    
    <div class="yeji">
      <ul>
        <li><i>已发业绩</i>￥{$result["Send"]}</li>
        <li><i>未发业绩</i>￥{$result["NoSend"]}</li>
       
        <li style="border-bottom: none"><i>代理业绩分成</i>￥{$result["TiCheng"]}</li>
        <li  style="border-bottom: none"><i>代理推荐奖</i>￥{$result["ZhiTui"]}</li>
      </ul>
    </div>
 


    <script src="__JS__/jquery.min.js"></script>
    <script type="text/javascript" src="__ADMIN__/lib/layer/2.4/layer.js"></script>
    <script src="__WAP__/js/orders.js"></script>
    <script src="__WAP__/js/dropload.min.js"></script>
    <script>
        
    </script>
  </body>
</html>