{include file='index/meta' /}
<style>
  th,td{
    padding: 4px !important;
  }
</style>
</head>
<body>
  
  {notempty name="ztinfo.futoutype"}
   <div class="cl pd-5 bg-1 mt-20">
    <span class="l ml-10"> 
      <a class="btn btn-primary radius" href="javascript:baseOpen('直通车复投','{:url('orders/ztcfutou',array('ztid'=>$ztinfo.id))}',700,600)" >
          <i class="Hui-iconfont">&#xe600;</i>
          直通车复投
        </a> 
    </span>
   </div>
  {/notempty}
 
  
  <article class="page-container">
    <table class="table table-border table-bordered table-bg mt-20">
      <thead>
        <tr >
          <th scope="col" colspan="6">直通车底单记录</th>
        </tr>
        <tr class="text-c" >
          <th width="20">序号</th>
          <th width="80">代理商</th>
          <th width="80">代理地区</th>
          <th width="80">入单人</th>
          <th width="80">推荐人</th>
          <th width="50">入账时间</th>
        </tr>
      </thead>
      <tbody> 
        {notempty name="baselist"}
        {foreach name="baselist" item="info"}
        <tr class="text-c">
          <td>{$key+1}</td>
          <td>{$info.agentname}</td>
          <td>{$info.agentarea}</td>
          <td>{$info.remituser}</td>
          <td>{$info.recomeuser}</td>
          <td>{$info.entrytime}</td>
        </tr>
        {/foreach}
        {else}
        <tr class="text-c"><td colspan="6">暂无数据</td></tr>
        {/notempty}
      </tbody>
    </table>

    <table class="table table-border table-bordered table-bg mt-20">
      <thead>
        <tr >
          <th scope="col" colspan="4">积分分配方式</th>
          <th scope="col" colspan="3">复投方式：{notempty name="ztinfo.futoutype"}{$futoutype[$ztinfo.futoutype]}{/notempty}</th>
        </tr>
        <tr class="text-c" >
          <th width="20">序号</th>
          <th width="50">分配方式</th>
          <th width="50">积分平台</th>
          <th width="50">返积分电话</th>
          <th width="80">返积分ID</th>
          <th width="80">返积分数量</th>
          <th width="80">转款凭证</th>
        </tr>
      </thead> 
      <tbody id="voucher" > 
        {notempty name="list"}
        {foreach name="list" item="info"}
        <tr class="text-c" id="tr{$info.id}">
          <td>{$key+1}</td>
          <td>{$resulttype[$info.resulttype]}</td>
          <td>{$info.platform?$platform[$info.platform]:""}</td>
          <td>{$info.pointtel}</td>
          <td>{$info.pointid}</td>
          <td>{$info.pointaccount}</td>
          <td>{notempty name="info.voucherimg"}<img src="/{$info.voucherimg}" width="100px" />{/notempty}</td>
        </tr>
        {/foreach}
        <tr ><td colspan="7"> 总积分：{$totalaccount} &nbsp;&nbsp;{notempty name="ztinfo.futoutype"}{$futoutype[$ztinfo.futoutype]}{/notempty}</td></tr>
        {else}
        <tr class="text-c"><td colspan="7">暂无数据</td></tr>
        {/notempty}
      </tbody>

    </table>

    <div class="orderaction">
      <form  id="form-admin-add">
        <input type="hidden" name="ztid" value="{$ztinfo.id}">
        <input class="btn btn-primary radius" type="button" onclick="submitform()" value="&nbsp;&nbsp;确定 &nbsp;&nbsp;">
      </form>
    </div>

  </article>


  {include file='index/footer' /}

  <!--请在下方写此页面业务相关的脚本-->

  <script type="text/javascript">
    $("thead").click(function () {
      $(this).parent("table").find("tbody").children("tr:gt(3)").fadeToggle();
    });

    $("#voucher tr").click(function () {
      if ($(this).find("img").length > 0) {
        var src = $(this).find("img").css({width: "300px"}).prop("outerHTML");
        $(this).find("img").css({width: "100px"});
        layer.alert(src);
      }
    });

    function submitform() {
      formdata = $("#form-admin-add").serialize();
      $.ajax({
        type: 'post',
        data: formdata,
        url: "{:url('admin/finance/dopoint')}",
        success: function (data) {
          if (data.state == "ok") {
            layer.msg(data.msg, {icon: 1, time: 1000});
            setTimeout(function () {
              var index = parent.layer.getFrameIndex(window.name);
              parent.$('.btn-refresh').click();
              parent.layer.close(index);
            }, 1500);
          } else {
            layer.msg(data.msg, {icon: 2, time: 1000});
          }
        },
        error: function (XmlHttpRequest, textStatus, errorThrown) {
          layer.msg('error!', {icon: 1, time: 1000});
        }
      });
    }
    
    



  </script> 
  <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>