{include file='index/meta' /}

</head>
<body style="float: left;width: 100%">
  <div class="printorder">
    <img src="__IMG__/123.png"/>
    <div class="header">
       <h4>湖南云堂网络科技有限公司</h4>
       <h3><span>　收　　据　</span></h3>
    </div>
    <div class="number1">
      <h5>No：{$orders.receiptno}</h5>
      <h5>收款时间：{empty name="orders.entrytime"}{:date('Y-m-d H:i:s')}{else} {$orders.entrytime}{/empty}</h5>
    </div>
    <div class="content1">
      　<ul>
         <li>今收到　  <p>入单人：{$orders.remituser}  &nbsp;&nbsp;&nbsp; 汇款人：{$orders.bankuser}</p></li>
         <li>　　　　<p>&nbsp;购车订金</p></li>
         <li>收款银行：
           <b id="bankname">{$orders.incomebank}</b>
           
           </li>
         <li>金额（大 写）：壹萬圆整</li>
         <li>收款单位（公章）：<span><b>￥</b>10,000.00</span></li>
      </ul>
    </div>
    <div class="infoitem">①存根白②交给顾客红③记账黄</div>
    <ul class="footer1"><li>核准：</li>
      <li>会计：</li>
      <li>记账：</li>
      <li>出纳：</li>
      <li>经手人：{$orders.nickname}</li>
    </ul>
    
  </div>
  
  <div class="printbtndiv">
  <input type="button" class="btn btn-success" style="width: 200px;" onclick="printorder()" value="打印"/>
  </div>
  {include file='index/footer' /}
   
   <script src="http://www.jq22.com/jquery/jquery-migrate-1.2.1.min.js"></script>
   <script type="text/javascript" src="__ADMIN__/lib/jquery.jqprint-0.3.js"></script>
   <script>
    function printorder(){
     $(".printorder").jqprint(); 
    }
   
     
   </script>

</body>
</html>