{include file='index/meta' /}

<title>{$title}</title>
</head>
<body>
  <nav class="breadcrumb">

    {notempty name="menustr"}
    {$menustr}
    {/notempty}


    <a class="btn btn-success btn-refresh radius r" style="line-height:1.6em;margin-top:3px" href="javascript:;" title="刷新" >
      <i class="Hui-iconfont">&#xe68f;</i></a>
  </nav>

  <div class="page-container">
    <form method="post">
      <div class="text-c">
        <input type="text" class="input-text" style="width:250px" placeholder="收据编号" id="" name="agentno" value="{$agentno}">
       
        <input type="text" onfocus="WdatePicker()" id="logmin" placeholder="入账开始时间" class="input-text Wdate" style="width:120px;" name='begintime' value="{$begintime}">
         -
        <input type="text" onfocus="WdatePicker()" id="logmax"  placeholder="入账结束时间" class="input-text Wdate" style="width:120px;" name="endtime" value="{$endtime}">
        
        <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
      </div>
    </form>
    {notempty name="actions.PanelAction"}
    <div class="cl pd-5 bg-1 bk-gray mt-20">
      {foreach name='actions.PanelAction' item='item'}
      <span class="l"> 
        <a class="btn btn-primary radius" href="javascript:admin_role_add('{$item['permname']}','{:url($item['permurl'],array('tagrole'=>$item['id']))}')" >
          <i class="Hui-iconfont">{$item["permcss"]? $item["permcss"]:"&#xe600;"}</i>
          {$item['permname']}
        </a> </span>
      {/foreach}
    </div>
    {/notempty}
    <table class="table table-border table-bordered table-bg mt-20">
      <thead>
        <tr>
          <th scope="col" colspan="9">奖金发放记录</th>
        </tr>
        <tr class="text-c">
   
          <th width="30">序号</th>
          <th width="50">收据编号</th>
          <th width="60">报单编号</th>
          <th width="50">收款银行</th>
          <th width="100">打印时间</th>         
          <th width="60">入账时间</th>
          <th width="80">处理人</th>
          <th width="80">操作</th>
        </tr>
      </thead>
      <tbody>
        
      {notempty name="list"}
        {foreach name='list' item='order'}
        <tr class="text-c data-item" data-id="{$order.id}" >
          <td >{$key+1}</td>
          <td >{$order.receiptno}</td>
          <td >{$order.orderid}</td>
          <td >{$order.incomebank}</td>
          <td >{$order.printtime}</td>
          <td >{$order.entrytime}</td>
          <td >{$order.username}</td>
          <td>
           <a title="打印收据"  onclick="admin_role_add('打印收据',
                 '{:url("finance/printorder",["id"=>$order["id"]])}')"    class="ml-5" style="text-decoration:none">
               <i class="Hui-iconfont">&#xe652;</i>
             </a>
          </td>
        </tr>
        {/foreach}
        {else}
      <tr class="text-c"><td colspan="9">暂无数据</td></tr>
      {/notempty}
      </tbody>
    </table>
  </div>

  {$page}
  

  {include file='index/footer' /}
  <script type="text/javascript" src="__ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
  <script  type="text/javascript">
    function admin_role_add(title, url, w, h){
        layer_show(title, url, w, h);
    }
    
    $(".btn-refresh").click(function(){
     location.replace(location.href)
    });
    

  </script>

</body>
</html>