{include file='index/meta' /}

<title>{$title}</title>
</head>
<body>
  <nav class="breadcrumb">

    {notempty name="menustr"}
    {$menustr}
    {/notempty}


    <a class="btn btn-success btn-refresh radius r" style="line-height:1.6em;margin-top:3px" href="javascript:;" title="刷新" >
      <i class="Hui-iconfont">&#xe68f;</i></a>
  </nav>

  <div class="page-container">
    <form method="post">
      <div class="text-c">
        <input type="text" class="input-text" style="width:250px" placeholder="请输入原代理商编号或者姓名" id="" name="agentno" 
               value="{notempty name='parm.agentno'}{$parm['agentno']}{/notempty}">
       
        <input type="text" onfocus="WdatePicker()" id="logmin" placeholder="申请开始时间" class="input-text Wdate" style="width:120px;" name='begintime'
               value="{notempty name='parm.begintime'}{$parm['begintime']}{/notempty}">
         -
        <input type="text" onfocus="WdatePicker()" id="logmax"  placeholder="申请结束时间" class="input-text Wdate" style="width:120px;" name="endtime" 
               value="{notempty name='parm.endtime'}{$parm['endtime']}{/notempty}">
        
        <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
      </div>
    </form>
    {notempty name="actions.PanelAction"}
    <div class="cl pd-5 bg-1 bk-gray mt-20">
      {foreach name='actions.PanelAction' item='item'}
      <span class="l"> 
        <a class="btn btn-primary radius" href="javascript:admin_role_add('{$item['permname']}','{:url($item['permurl'],array('tagrole'=>$item['id']))}')" >
          <i class="Hui-iconfont">{$item["permcss"]? $item["permcss"]:"&#xe600;"}</i>
          {$item['permname']}
        </a> </span>
      {/foreach}
    </div>
    {/notempty}
    <table class="table table-border table-bordered table-bg mt-20">
      <thead>
        <tr>
          <th scope="col" colspan="15">直推代理底单</th>
        </tr>
        <tr class="text-c">
          <th width="20"><input type="checkbox" id="checkall"/></th>
          <th width="30">报单编号</th>
          <th width="50">原代理商</th>
          <th width="60">原代理商编号</th>
          <th width="100">新代理商</th>
          <th width="60">新代理商编号</th>
          <th width="50">是否出账</th>
          <th width="120">申请时间</th>
          <th width="80">处理时间</th>
          <th width="80">打款卡号</th>
          <th width="50">积分平台</th>
          <th width="50">返积分ID</th>
          <th width="80">返积分手机号</th>
        </tr>
      </thead>
      <tbody>
        
      {notempty name="list"}
        {foreach name='list' item='order'}
        <tr class="text-c data-item" data-id="{$order.id}" >
          <td ><input type="checkbox" value="{$order.id}"/></td>
          <td >{$order.sortid}</td>
          <td >{$order.agentname}</td>
          <td >{$order.agentno}</td>
          <td >{$order.newagentname}</td>
          <td >{$order.newagentno}</td>
          <td >{$order.state}</td>
          <td >{$order.putintime}</td>
         <td >{$order.handtime}</td>
         <td >{$order.agentbankcard}</td>
          
          <td >{notempty name="order.platform"}{$platform[$order.platform]}{/notempty}</td>
          <td>{$order.platformid}</td>
          <td >{$order.platformtel}</td>
        </tr>
        {/foreach}
        {else}
      <tr class="text-c"><td colspan="15">暂无数据</td></tr>
      {/notempty}
      </tbody>
    </table>
  </div>

  {$page}
  

  {include file='index/footer' /}
  <script type="text/javascript" src="__ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
  <script  type="text/javascript">
     function admin_role_add(title, url, w, h){
     confirmstr='是否确认发放代理直推奖励？【如果确认，将会给代理商发放1W元奖金！】';
    if($(":checked").length>=1){
        layer.confirm(confirmstr, {
            btn: ['确定', '取消'] //可以无限个按钮
          
          }, function(index, layero){
            id=""; 
            $(":checked").each(function(){
               if($(this).val()&&$(this).attr("id")!="checkall"){
                 id+=$(this).val()+";";
               }
             });
            if(id){
               postdata={orderid:id};
            }
            $.post(url,postdata,function(data){
              if(data.state=="err"){
                 layer.msg(data.msg, {icon: 2, time: 1000});
              }else{
                 layer.msg(data.msg, {icon: 1, time: 1000});
                  window.setTimeout(function(){
                    $('.btn-refresh').click();
                  },1000)
              }
            });
          }, function(index){
       
         });
        
       }else{
         layer.msg("请选择需要设置的代理商", {icon: 2, time: 1000});
       }
    }
    
    $(".btn-refresh").click(function(){
     location.replace(location.href)
    });
    
    
    function admin_week_add(title, url, w, h){
      layer_show(title, url, w, h);
    }
    
    $(".btn-refresh").click(function(){
     location.replace(location.href)
    });
  
   
   

  </script>

</body>
</html>