{include file='index/meta' /}

<title>{$title}</title>
</head>
<body>
  <nav class="breadcrumb">

    {notempty name="menustr"}
    {$menustr}
    {/notempty}


    <a class="btn btn-success btn-refresh radius r" style="line-height:1.6em;margin-top:3px" href="javascript:;" title="刷新" >
      <i class="Hui-iconfont">&#xe68f;</i></a>
  </nav>

  <div class="page-container">
    <form method="post">
      <div >
          
        <input type="text" class="input-text ml-20" style="width:250px" placeholder="请输入代理商编号或者姓名" id="" name="agentno" value="{notempty name='parm.agentno'}{$parm.agentno}{/notempty}">

        <input type="text" class="input-text ml-20" style="width:250px" placeholder="请输入推荐人姓名或者编号" id="" name="pagentno" value="{notempty name='parm.pagentno'}{$parm.pagentno}{/notempty}">

        <input type="text" class="input-text ml-20" style="width:250px" placeholder="请输入代理地区" id="" name="agentarea" value="{notempty name='parm.agentarea'}{$parm.agentarea}{/notempty}">
        </div>
      <div class="mt-10">
        
        <input type="text" class="input-text ml-20" style="width:250px" placeholder="请输入代理商电话" id="" name="agenttel" value="{notempty name='parm.agenttel'}{$parm.agenttel}{/notempty}"> 
        
        <input type="text" class="input-text ml-20" style="width:250px" placeholder="请输入代理商姓名" id="" name="agentname" value="{notempty name='parm.agentname'}{$parm.agentname}{/notempty}"> 
        
        <select class="input-text  ml-20" style="width:250px" name="state">
          <option value="">请选择用户状态</option>
          <option value="1"  {notempty name='parm.state'}{eq name='parm.state' value='1'}selected='selected'{/eq}{/notempty}>有效</option>
          <option value="2" {notempty name='parm.state'}{eq name='parm.state' value='2'}selected='selected'{/eq}{/notempty}>无效</option>
      </select>
        
        
        <button type="submit" class="btn btn-success ml-20" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
      </div>
    </form>
    {notempty name="actions.PanelAction"}
    <div class="cl pd-5 bg-1 bk-gray mt-20">
      <span class="l ml-5"> 
        <a class="btn btn-primary radius" href="javascript:addagent()" >
          <i class="Hui-iconfont">&#xe600;</i>
          添加代理商
        </a> </span>
      
      {foreach name='actions.PanelAction' item='item'}
      <span class="l ml-5"> 
        <a class="btn btn-primary radius" href="javascript:admin_role_add('{$item['permname']}','{:url($item['permurl'],array('tagrole'=>$item['id']))}')" >
          <i class="Hui-iconfont">{$item["permcss"]? $item["permcss"]:"&#xe600;"}</i>
          {$item['permname']}
        </a> </span>
      {/foreach}
      <span class="l ml-5"> 
        <a class="btn btn-primary radius" href="javascript:export_orders()" >
          <i class="Hui-iconfont">&#xe644;</i>
          导出
        </a> </span>

    </div>
    {/notempty}
    <table class="table table-border table-bordered table-bg mt-20">
      <thead>
        <tr>
          <th scope="col" colspan="15">代理商列表</th>
        </tr>
        <tr class="text-c">
          <th width="20"><input type="checkbox" id="checkall"></th>
          <th width="20">代理ID</th>
          <th width="50">代理商</th>
          <th width="60">代理商编号</th>
          <th width="60">注册时间</th>
          <th width="100">代理区域</th>
          <th width="100">手机号码</th> 
          <th width="100">银行</th>
          <th width="100">银行卡号</th>
          <th width="100">支行信息</th>
          <th width="50">是否超级代理</th>
          <th width="50">推荐人</th>
          <th width="50">持卡人</th>
          <th width="80">操作</th>
        </tr>
      </thead>
      <tbody>

        {notempty name="list"}
        {foreach name='list' item='order'}
        <tr class="text-c data-item" >
          <td><input type="checkbox" value="{$order.id}"> </td>
          <td >{$order.id}</td>
          <td >{$order.agentname}</td>
          <td >{$order.agentno}</td>
          <td >{$order.regtime}</td>
          <td >{$order.agentarea}</td>
          <td >{$order.agenttel}</td>
          <td >{$order.bankname}</td>
          <td >{$order.agentbankcard}</td>
          <td >{$order.bankaddr}</td>
          <td >{$isvip[$order.isvip]}</td>
          <td >{$order.parentname}</td>
           <td >{$order.bankowner?$order.bankowner:$order.agentname}</td>
          <td>
            {notempty name='actions.LineAction'}
            {foreach name='actions.LineAction' item='line'}
            <a title="{$line['permname']}" href="javascript:;" onclick="editagent('{$line['permname']}','{:url($line['permurl'],array('tagrole'=>$line['id'],'id'=>$order['id']))}')" style="text-decoration:none">
               <i class="Hui-iconfont">{$line["permcss"]}</i>
            </a> 
            {/foreach}
            {/notempty}

            <a title="设置推荐关系" href="javascript:;" onclick="set_recome({$order.id})" form-data="{$order.state}" class="ml-5" style="text-decoration:none">
              <i class="Hui-iconfont">&#xe6df;</i>
            </a>
            <a title="{$order.state?'禁用':'启用'}" href="javascript:;" onclick="admin_role_del(this, '{$order.id}')" form-data="{$order.state}" class="ml-5" style="text-decoration:none">
              <i class="Hui-iconfont">{$order.state?'&#xe6dd;':'&#xe6e1;'}</i>
            </a>
          </td>
        </tr>
        {/foreach}
        {else}
        <tr class="text-c"><td colspan="15">暂无数据</td></tr>
        {/notempty}



      </tbody>
    </table>
  </div>

  {$page}

  <div class="voucher">
    <h4>支付凭证信息</h4>
    <ul>

    </ul>
    <input type="hidden" id="orderid" >
    <input type="hidden" id="state" >
    <p><button class="btn btn-success" id="btnok">同意</button>
      <button class="btn btn-primary" id="btncancel" >拒绝</button>
      <button class="btn" id="btnquxiao" >取消</button></p>
  </div>

  {include file='index/footer' /}
  <script type="text/javascript" src="__ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js">
    
  </script>
  <script  type="text/javascript">
    function admin_role_add(title, url, w, h){
      confirmstr = title == "取消设定超级代理"?"是否确认把所选代理设置成普通代理？":'是否确认把所选代理设置成超级代理？【超级代理将不会检查是否存在10个代理底单！】';
      if ($(":checked").length >= 1){
        layer.confirm(confirmstr, {
            btn: ['确定', '取消'] //可以无限个按钮
        }, function(index, layero){
              id = "";
            $(":checked").each(function(){
            if ($(this).val() && $(this).attr("id") != "checkall"){
              id += $(this).val() + ";";
            }
            });
            if (id){
              postdata = {orderid:id};
            }
            $.post(url, postdata, function(data){
              if (data.state == "err"){
                layer.msg(data.msg, {icon: 2, time: 1000});
              } else{
                layer.msg(data.msg, {icon: 1, time: 1000});
              window.setTimeout(function(){
                $('.btn-refresh').click();
                }, 1000)
              }
            });
        }, function(index){

        });
      } else{
      layer.msg("请选择需要设置的代理商", {icon: 2, time: 1000});
      }
    }

    function admin_base_add(title, url, w, h){
    confirmstr = title == 1?"是否确认把所选代理设置成普通代理？":'是否确认把所选代理设置成超级代理？【超级代理将不会检查是否存在10个代理底单！】';
    layer.confirm(confirmstr, {
      btn: ['确定', '取消'] //可以无限个按钮
    }, function(index, layero){
      $.post(url, "", function(data){
      if (data.state == "err"){
        layer.msg(data.msg, {icon: 2, time: 1000});
      } else{
        layer.msg(data.msg, {icon: 1, time: 1000});
        $('.btn-refresh').click();
      }});
      }, function(index){ });
    }

    $(".btn-refresh").click(function(){
      location.replace(location.href)
    });
    /*管理员-角色-删除*/
    function admin_role_del(obj, id) {
      isdel = $(obj).attr("form-data");
      confirmstr = (isdel == 1)? "代理商禁用须谨慎，确认要禁用吗？":"代理商启用须谨慎，确认要启用吗？";
      layer.confirm(confirmstr, function (index) {
        //此处请求后台程序，下方是成功后的前台处理
        $.ajax({
          type: 'post',
          data: "id=" + id + "&isdel=" + isdel,
          url: "{:url('admin/member/delmem')}",
          success: function (data) {
            if (data.state == "ok"){
              layer.msg('操作成功!', {icon: 1, time: 1000});
              $('.btn-refresh').click();
            } else{
              layer.msg('参数错误，小伙子你很坏呀!', {icon: 1, time: 1000});
            }
          },
          error: function (XmlHttpRequest, textStatus, errorThrown) {
            layer.msg('error!', {icon: 1, time: 1000});
          }
        });
    //$(obj).closest("tr").remove(); //找到第一个父元素并且删除
    //layer.msg('已删除!', {icon: 1, time: 1000});
    });
    }

    function set_recome(id){
      var url = "{:url('setrecome')}?mid=" + id;
      var title = "设置推荐关系";
      layer_show(title, url);
    }

    function export_orders(){
      var title="导出银行卡信息";
      var url="{:url('member/export')}";
      layer_show(title,url,800,600);
    
    }
    
    function addagent(){
      var title="添加代理商";
      var url="{:url('editagent')}";
      layer_show(title,url,800,600);
    }
    
    function editagent(title,url,w,h){
          layer_show(title,url,w,600);
    }

  </script>

</body>
</html>